body {
  background-color: #000;
  color: lightgray;
  font-size: 28;
}

#container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#password {
  /* border: 1px solid red; */
  width: 900px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 48px;
  min-height: 60px;
}

#image {
  /* border: 1px solid red; */
  float: left;
  width: 450px;
  text-align: center;
  min-height: 280px;
}

#letters {
  /* border: 1px solid red; */
  float: left;
  width: 450px;
  text-align: center;
  min-height: 280px;
}